@model Nevus.Models.Ciudad

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Ciudad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Guardar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
             <div class="form-group">
                 @Html.LabelFor(Model => Model.EstaActiva)
                   @Html.EditorFor(Model => Model.EstaActiva)
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
            @Html.ValidationSummary();

        </form>
         <form asp-action="Eliminar" asp-route-IdCiudad="@Model.Id" >
            <div class="form-group">
                <input type="submit" value="Borrar" class="btn btn-primary error" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
